#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.inputField {
  padding: 10px;
}
ul {
  list-style-type: none;
}
button {
  margin-left: 10px;
  padding: 10px;
  font-weight: 600px;
}
.movie-poster-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.saved-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
}
.unsaved-btn {
  background-color: grey;
  border: none;
  color: white;
}

.card {
  border-radius: 5px;
  border: 2px solid gray;
  margin-bottom: 5px;
  padding: 10px;
}

.favorite {
  background: #ff4757;
  color: white;
  border: none;
}
