#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.inputField {
  padding: 10px;
}
.flex {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: black;
}
ul {
  list-style-type: none;
}
button {
  margin-left: 10px;
  padding: 10px;
  font-weight: 600px;
  border: none;
  cursor: pointer;
}
.movie-poster-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.saved-btn {
  background-color: #4caf50;
  border: none;
  color: white;
}
.unsaved-btn {
  background-color: grey;
  border: none;
  color: white;
}

.card {
  border-radius: 5px;
  border: 2px solid gray;
  margin-bottom: 5px;
  max-width: fit-content;
  min-width: 300px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.favorite {
  background: #551a8b;
  color: white;
}
.titleDetailsClick {
  cursor: pointer;
}
